@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: #fff;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to left, #865a5a, rgb(255, 255, 255));
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #1e40af;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #000000;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    text-align: center;
    margin-top: 0.25rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    opacity: 80%;
}

.pricing .card .content .input{
    border-radius: 2.5cm;
    background-color: #726565;
}

.pricing .card .content{
    opacity: 100%;
}

.pricing .card{
    background-image: url('/static/images/jailtonlogo2.jpg');
    background-size: cover;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    opacity: 80%;
}

.pricing .card:hover{
    background-color: #323232;
    border-color: #000000;
}

.pricing .card h5{
    margin-bottom: 0.1rem;
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
}

.pricing .card button{
    color: #fff;
    background-color: black;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #af1e1e;
    border-color: #af1e1e;
}

#saida-soma {
    font-size: 1.5em;
    font-weight: 700;
}